@import "../../style.scss";

.mainpage-wrapper {

  display: flex;
  justify-content: space-between;
  margin: 206px 105px 51px 40px;
  .heading {
    margin-top: 80px;
    width: 547px;
    h2 {
      font-family: "TarabaFont-ExtraBold";
      font-size: 68.66px;
      line-height: 83px;
      color: $orange-3;
    }
    span {
      color: $black-0;
    }
    p {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: $black-3;
      margin: 16px 0;
    }
  }
  .big-btns {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .big-btn {
      margin: 15px 12px 0 0;
      height: 55px;
      width: 233px;
      border-radius: 15px;
      border: 2px solid #ffa039;
      a {
        display: flex;
        justify-content: center;
        text-decoration: none;
        margin: 16px auto;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: $black-2;
      }
      &:hover {
        cursor: pointer;
        box-shadow: inset -2px -2px 10px #ff7800;
        box-shadow: 0px 25px 20px -25px rgba(0, 0, 0, 0.75);
        background-color: $orange-3;
        a {
          color: $grey-4;
        }
      }
    }
  }
  img {
    width: 600px;
    height: 600px;
  }
}
#generate {
  
  .generate-wrapper {
    height: 1155px;
    background-color: $grey-2-op;
    padding: 46px 43px 17px 42px;
    h4 {
      font-size: 43.95px;
      line-height: 53px;
      font-family: "TarabaFont-ExtraBold";
      margin-bottom: 16px;
    }
    p {
      width: 509px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: $black-3;
      margin-bottom: 47px;
    }
    .generate-sub-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 73px;
      iframe {
        width: 660px;
        height: 393px;
        border-radius: 15px;
      }
      h5 {
        img {
          width: 28px;
          height: 28px;
          margin-right: 8px;
        }
        font-style: normal;
        font-weight: 700;
        font-size: 35.16px;
        line-height: 43px;
        margin-bottom: 8px;
      }
      p {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: $black-3;
        width: 546px;
        height: 136px;
        margin-bottom: 8px;
      }

      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 21px;
          color: $black-3;
          margin: 8px 0;
        }
        li::before {
          content: url("../../assets/home/validation-icon-orange.svg");
          display: inline-block;
          margin-right: 5px;
          transform: scale(0.75);
          vertical-align: middle;
        }
      }
    }
  }
}
#features {
  height: 586px;
  background-color: $orange-4;
  padding: 81px 150px 100px 42px;

  h4 {
    font-size: 43.95px;
    line-height: 53px;
    font-family: "TarabaFont-ExtraBold";
    margin-bottom: 16px;
  }
  p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: $black-3;
    width: 463px;
    margin-bottom: 38px;
  }
  .features-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .features-sub-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      img {
        width: 18px;
        height: 18px;
      }
      .features-sub-sub-wrapper {
        margin-left: 18px;
        h6 {
          font-style: normal;
          font-weight: 700;
          font-size: 22.05px;
          line-height: 27px;
          margin-bottom: 8px;
        }
        p {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 21px;
          width: 320px;
          margin-bottom: 55px;
        }
      }
    }
  }
}
#qr-code-types {
  height: 1585px;
  padding: 88px 24px 187px 24px;
  background-color: $grey-4;
  h4 {
    font-size: 43.95px;
    line-height: 53px;
    font-family: "TarabaFont-ExtraBold";
    margin-left: 16px;
  }
  p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 19px;
    margin-left: 16px;
    width: 542px;
    color: $black-3;
  }
  .qr-code-types-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .qr-code-types-sub-wrapper {
      width: 316px;
      height: 263px;
      padding: 96px 30px 0 30px;
      border-radius: 15px;
      background-color: $white;
      margin: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0px 25px 20px -25px rgba(0, 0, 0, 0.75);
      &:hover {
        cursor: pointer;
        transition: 0.5s linear;
        box-shadow: 0 12px 48px rgba(0, 0, 0, 0.15);
      }
      h6 {
        img {
          width: 20px;
          height: 20px;
          margin-right: 8px;
        }
        font-size: 22.05px;
        line-height: 27px;
        font-family: "TarabaFont-ExtraBold";
        color: $orange-1;
        margin-bottom: 16px;
      }
      p {
        width: 256px;
        margin: 0;
      }
    }
  }
}

#pricing {
  padding: 62px 40px 83px 40px;
  background-color: $grey-3;
  .pricing-wrapper-one {
    display: flex;
    justify-content: space-between;
    h4 {
      font-style: normal;
      font-weight: 900;
      font-size: 43.95px;
      line-height: 53px;
      margin-bottom: 16px;
    }
    p {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: $black-3;
      width: 518px;
      margin-bottom: 25px;
    }
    .big-btn-period {
      display: flex;
      align-items: flex-end;
      button {
        width: 200px;
        height: 51px;
        margin: 0 16px;
        border: 1px solid $orange-3;
        border-radius: 10px;
        background-color: transparent;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: $black-2;
        &:hover {
          background-color: $orange-3;
          color: $grey-4;
          cursor: pointer;
        }
      }
    }
  }
  .pricing-wrapper-two {
    display: flex;
    padding: 70px 0 0 0;
    align-items: flex-end;
    justify-content: space-between;
    .pricing-orange-gradient {
      padding: 27px 45px 37px 38px;
      width: 316px;
      height: 693px;
      background: linear-gradient(167.91deg, #ffd6c4 -1.62%, #ffffff 104.93%);
      border-radius: 15px;
      margin: 0;
    }
    p:first-child {
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      padding-bottom: 23px;
      color: $black-2;
    }
    h4 {
      font-style: normal;
      font-weight: 700;
      font-size: 43.95px;
      line-height: 53px;
    }
    p {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      margin: 14px 0;
      color: $black-3;
    }
    .most-popular {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      top: 0;
      .most-popular-tab {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(180deg, #ffb769 0%, #ffffff 100%);
        border-radius: 15px;
        width: 290px;
        height: 62px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: $black-3;
      }
      .dark {
        position: relative;

        margin-top: 50px;
        background: linear-gradient(180deg, #ffb769 17.19%, #ffffff 100%);
      }
    }
    .big-btn {
      width: 233px;
      height: 55px;
      background: $orange-3;
      box-shadow: inset -2px -2px 6px #ff7800;
      border-radius: 15px;
      border: none;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: $grey-4;
      margin-top: 20px;
      &:hover {
        background-color: transparent;
        border: 2px solid $orange-3;
        box-shadow: none;
        color: $black-2;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .mainpage-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 155px 62px 43px 24px;
    .heading {
      margin-top: 0;
      width: 407px;
      h2 {
        font-size: 53.41px;
        line-height: 65px;
      }
      p {
        font-size: 14px;
        line-height: 16px;
      }
    }
    .big-btns {
      .big-btn {
        margin: 8px 12px 0 0;
        height: 47px;
        width: 198px;
        a {
          margin: 15px auto;
          font-size: 14px;
          line-height: 17px;
        }
      }
    }
    img {
      width: 382px;
      height: 382px;
    }
  }
  #generate {
    .generate-wrapper {
      height: 835px;
      padding: 24px 24px 27px 24px;
      h4 {
        font-size: 34.18px;
        line-height: 42px;
      }
      p {
        width: 341px;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 44px;
      }
      .generate-sub-wrapper {
        iframe {
          width: 475px;
          height: 283px;
        }
        h5 {
          img {
            width: 22px;
            height: 22px;
          }
          font-size: 27.34px;
          line-height: 33px;
        }
        p {
          font-size: 14px;
          line-height: 16px;
          width: 390px;
          margin-bottom: 8px;
          height: 112px;
        }
        ul {
          li {
            height: 20px;
            font-size: 14px;
            line-height: 16px;
            margin: 4px 0;
          }
          li::before {
            transform: scale(0.58);
          }
        }
      }
      .generate-sub-wrapper:nth-child(1) {
        margin-bottom: 84px;
      }
    }
  }
  #features {
    height: 445px;
    padding: 13px 66px 50px 25px;
    h4 {
      font-size: 34.18px;
      line-height: 42px;
      margin-bottom: 8px;
    }
    p {
      font-size: 14px;
      line-height: 16px;
      width: 340px;
      margin-bottom: 28px;
    }
    .features-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .features-sub-wrapper {
        img {
          width: 18px;
          height: 18px;
        }
        .features-sub-sub-wrapper {
          h6 {
            font-size: 20px;
            line-height: 24px;
          }
          p {
            font-size: 14px;
            line-height: 16px;
            width: 250px;
          }
        }
      }
    }
  }
  #qr-code-types {
    height: 1117px;
    padding: 30px 12px 133px 12px;
    h4 {
      font-size: 34.18px;
      line-height: 42px;
      margin-left: 12px;
    }
    p {
      font-size: 14px;
      line-height: 16px;
      margin-left: 12px;
      margin-bottom: 12px;
      width: 342px;
    }
    .qr-code-types-wrapper {
      .qr-code-types-sub-wrapper {
        width: 226px;
        height: 188px;
        padding: 74px 16px 0 16px;
        border-radius: 15px;
        margin: 12px;

        h6 {
          img {
            width: 16px;
            height: 16px;
            margin-right: 8px;
          }
          font-size: 17.05px;
          line-height: 21px;

          margin-bottom: 8px;
        }
        p {
          width: 188px;
          margin: 0;
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }
  #pricing {
    padding: 43px 24px 88px 24px;
    .pricing-wrapper-one {
      h4 {
        font-size: 34.18px;
        line-height: 42px;
      }
      p {
        font-size: 14px;
        line-height: 16px;
        width: 342px;
        margin-bottom: 18px;
      }
      .big-btn-period {
        button {
          width: 143px;
          height: 36px;
          margin: 0 11px;
          font-size: 14px;
          line-height: 17px;
        }
      }
    }
    .pricing-wrapper-two {
      padding: 62px 0 0 0;

      .pricing-orange-gradient {
        padding: 30px 14px 26px 14px;
        width: 225px;
        height: 502px;
      }
      p:first-child {
        font-size: 14px;
        line-height: 17px;
        padding-bottom: 20px;
        margin-left: 8px;
      }
      h4 {
        font-size: 34.18px;
        line-height: 42px;
        margin-left: 8px;
      }
      p {
        font-size: 14px;
        line-height: 16px;
        margin: 8px 0 8px 8px;
      }
      .strikethrough {
        text-decoration-line: line-through;
      }
      .most-popular {
        .most-popular-tab {
          width: 211px;
          height: 51px;
        }
        .dark {
          position: relative;

          margin-top: 40px;
          background: linear-gradient(180deg, #ffb769 17.19%, #ffffff 100%);
        }
      }
      .big-btn {
        width: 198px;
        height: 47px;

        font-size: 14px;
        line-height: 17px;
        margin-top: 15px;
        &:hover {
          background-color: transparent;
          border: 2px solid $orange-3;
          box-shadow: none;
          color: $black-2;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .mainpage-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 102px 8px 0 8px;
    .heading {
      width: 344px;
      p {
        margin: 8px 100px 24px 0;
      }
    }
    .big-btns {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .big-btn {
        margin: 8px 0;
      }
    }
    img {
      margin: 31px 0 0 80px;
      width: 217px;
      height: 217px;
    }
  }
  #generate {
    .generate-wrapper {
      background-color: transparent;
      height: 1271px;
      padding: 29px 8px 66px 8px;
      h4 {
        width: 195px;
      }
      p {
        margin-bottom: 24px;
        margin-right: 0px;
      }
      .generate-sub-wrapper {
        flex-direction: column-reverse;
        margin-bottom: 0;
        iframe {
          width: 344px;
          height: 205px;
          margin-top: 25px;
        }
        h5 {
          img {
            width: 22px;
            height: 22px;
          }
          font-size: 27.34px;
          line-height: 33px;
        }
        p {
          margin-bottom: 12px;
          width: 344px;
        }
        ul {
          li {
            margin: 4px 0;
          }
        }
      }
      .second {
        margin-top: 32px;
        flex-direction: column;
      }
    }
  }
  #features {
    height: 893px;
    padding: 33px 4px 0 4px;
    p {
      margin-bottom: 49px;
    }
    .features-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 5px;
      .features-sub-wrapper {
        .features-sub-sub-wrapper {
          p {
            margin-bottom: 34px;
          }
        }
      }
    }
  }
  #qr-code-types {
    height: 2865px;
    padding: 36px 8px 47px 8px;
    h4 {
      margin-left: 0;
      margin-bottom: 8px;
    }
    p {
      margin-left: 0;
      margin-bottom: 15px;
      width: 327px;
    }
    .qr-code-types-wrapper {
      flex-direction: column;
      align-items: center;
      .qr-code-types-sub-wrapper {
        margin: 9px;
        h6 {
          margin-bottom: 9px;
        }
        p {
          width: 154px;
        }
      }
    }
  }
}
