@import "../../style.scss";
.footer-wrapper {
  display: flex;

  width: 100%;
  
  .footer-sub-wrapper {
    
    width: 1064px;
    height: 197px;
    
    background: $white;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
  }
  .footer-wrapper-grey {
    width: 376px;
    height: 197px;
    background: $grey-2;
  }
}
