$orange-1: #ff7800;
$orange-2: rgba(255, 207, 155, 0.102);
$orange-3: #ffa039;
$orange-4: #faf5f0;
$orange-5: #423b33;
$white: #ffffff;

$grey-2-op: rgba(214, 214, 214, 0.2);
$grey-2: rgb(215, 215, 215);
$grey-3: rgba(214, 214, 214, 0.302);
$grey-4: #fafafa;
$grey-5: #e6e6e6;
$grey-6: #656565;
$grey-7: #505050;

$black-0: #000000;
$black-1: #2e2e2e;
$black-2: #2d2d2d;
$black-3: rgb(102, 102, 102);
$black-3-op: rgb(102, 102, 102, 0.2);
$black-4: #999898;
